body {
	background-color: FEF1D9;
	text-align: center;
	position: relative;
	left: 420px;
	top: 20px;
	border: 3px solid black;
	box-sizing: border-box;
	box-shadow: 7px 5px 4px 3px rgba(0, 0, 0, 0.50);
	height: 730px;
	width: 620px;
	padding: 40px;
}
h1 {
	font-family: 'Jockey One';
	font-size: 46px;
}
p {
font-family: 'Inconsolata';
font-size: 26px;
padding: 10px 20px 0px 20px;
}

.button {
	height: 40px;
	width: 148px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #C4C4C4;
	border-radius: 10px;
}
a {
	text-decoration: none;
	color: white;
	font-family: 'Inconsolata';
	text-align: center;
	font-size: 20px;
}
.divider {
    width:100px;
    height:auto;
    display:inline-block;
}